Data Science Tools and Ecosystem

# Data Science tools and Ecosystem

We will summarize the Data Science Tools and Ecosystem in this notebook

Some of the objectives of this notebook are as follows:

**Objectives**

* To list some of the famous data science languages
* To know the names of data science libraries commonly used
* To list the libraries used in data science 
* To list the Data science tools frequently used
* To execute some basic expressions of addition, multiplication and division

The list of famous data science languages are listed below:
1. Python
2. R
3. Julia
4. SQL
5. Scala

The list of some famous data science libraries are as follows:

    1. Scikit-learn
    2. TensorFlow
    3. Keras
    4. PyTorch

Some of Data science tools are listed below:

|Data Science Tools|
|------------------|
|Apache Spark|
|Apache Hadoop|
|MySql|

### Below are a few examples of evaluating arithmetic expressions in Python

The basic arithmetic expressions can be executed as follows:

In [14]:
(3*4)+5

17

In [16]:
# The below expression will convert 200 minutes into hours
200 / 60

3.3333333333333335

## Author
Nasir Anwer