<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 73.9 MB/s eta 0:00:00:00:010:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=48a60f12f89caf3dfea7f058ee7f36e1234310910663dcec90ca377c4ebbd41c
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
%sql select distinct(Launch_Site) from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [10]:
%sql select distinct * from SPACEXTBL where Launch_Site LIKE '%CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [13]:
%sql select SUM(PAYLOAD_MASS__KG_) from SPACEXTBL where Customer = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [15]:
%sql select AVG(PAYLOAD_MASS__KG_) from SPACEXTBL where BOOSTER_VERSION = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [16]:
%sql select min(Date) from SPACEXTBL where Mission_Outcome like '%Success%'

 * sqlite:///my_data1.db
Done.

[('2010-06-04',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [20]:
%%sql select distinct(Booster_Version) from SPACEXTBL
where Mission_Outcome = 'Success' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000

 * sqlite:///my_data1.db
Done.

[('F9 v1.1',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1016',),
 ('F9 FT B1020',),
 ('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT B1030',),
 ('F9 FT  B1021.2',),
 ('F9 FT B1032.1',),
 ('F9 B4 B1040.1',),
 ('F9 FT  B1031.2',),
 ('F9 FT  B1032.2',),
 ('F9 B4  B1040.2',),
 ('F9 B5 B1046.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1051.2 ',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2 ',),
 ('F9 B5B1062.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [53]:
%sql select (Mission_Outcome), count (Mission_Outcome)  from SPACEXTBL GROUP BY Mission_Outcome;

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [61]:
%sql SELECT (Booster_Version), MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL group by (Booster_Version) order by (PAYLOAD_MASS__KG_) desc;

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1060.3', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1049.7 ', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.6', 15440),
 ('F9 B5 B1059.3', 15410),
 ('F9 B5 B1051.5', 14932),
 ('F9 B5 B1049.3', 13620),
 ('F9 B5B1058.1 ', 12530),
 ('F9 B5B1061.1 ', 12500),
 ('F9 B5B1051.1', 12055),
 ('F9 B5 B1046.4', 12050),
 ('F9 FT B1036.1', 9600),
 ('F9 FT B1029.1', 9600),
 ('F9 FT  B1036.2', 9600),
 ('F9 B5B1048.1', 9600),
 ('F9 B5 B1049.2', 9600),
 ('F9 B4 B1041.1', 9600),
 ('F9 B4  B1041.2', 9600),
 ('F9 B5B1047.1', 7075),
 ('F9 B5B1049.1', 7060),
 ('F9 B5 B1056.3 ', 6956),
 ('F9 FT B1037', 6761),
 ('F9 B5 B1047.3 ', 6500),
 ('F9 B4  B1043.2', 6460),
 ('F9 B4 B1044', 6092),
 ('F9 FT B1034', 6070),
 ('F9 B5 B1046.2', 5800),
 ('F9 FT B1030', 5600),
 ('F9 B5 B1058.2 ', 5500),
 ('F9 B4  B1040.2', 5384),
 ('F9 FT B1032.1', 5300),
 ('F9 FT  B1021.2', 5300),
 ('F9 B5 B1047.2', 5300),
 ('F9 FT B1020', 5271),
 ('F9 FT  B1031.2', 5200),
 ('F9 B4 B1043.1', 5000),
 ('F9 B4 B1040.1', 4990),
 ('F9 B5 B1048.3', 4850),
 ('F9 v1.1 B1016', 4707),
 ('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600),
 ('F9 v1.1', 4535),
 ('F9 v1.1 B1011', 4428),
 ('F9 B5B1054', 4400),
 ('F9 B5B1062.1', 4311),
 ('F9 B5B1060.1', 4311),
 ('F9 FT  B1032.2', 4230),
 ('F9 B5 B1051.2 ', 4200),
 ('F9 v1.1 B1014', 4159),
 ('F9 B5 B1046.3', 4000),
 ('F9 FT  B1029.2', 3669),
 ('F9 FT B1024', 3600),
 ('F9 B5  B1046.1', 3600),
 ('F9 B4 B1042.1', 3500),
 ('F9 B4 B1039.1', 3310),
 ('F9 FT B1021.1', 3136),
 ('F9 B5 B1059.4', 3130),
 ('F9 FT B1023.1', 3100),
 ('F9 B5 B1048.2', 3000),
 ('F9 B5 B1058.4 ', 2972),
 ('F9 FT B1035.1', 2708),
 ('F9 B4 B1045.2', 2697),
 ('F9 B4  B1039.2', 2647),
 ('F9 B5B1059.1', 2617),
 ('F9 B5B1050', 2500),
 ('F9 B5B1056.1 ', 2495),
 ('F9 FT B1031.1', 2490),
 ('F9 v1.1 B1012', 2395),
 ('F9 B5 B1056.2 ', 2268),
 ('F9 FT B1025.1', 2257),
 ('F9 v1.1 B1010', 2216),
 ('F9 FT  B1035.2', 2205),
 ('F9 FT  B1038.2', 2150),
 ('F9 FT B1019', 2034),
 ('F9 B5 B1059.2', 1977),
 ('F9 v1.1 B1018', 1952),
 ('F9 v1.1 B1015', 1898),
 ('F9 B5B1063.1', 1192),
 ('F9 v1.0  B0007', 677),
 ('F9 v1.1 B1013', 570),
 ('F9 v1.1 B1017', 553),
 ('F9 v1.0  B0005', 525),
 ('F9 v1.1  B1003', 500),
 ('F9 v1.0  B0006', 500),
 ('F9 FT B1038.1', 475),
 ('F9 B4 B1045.1', 362),
 ('F9 v1.0  B0004', 0),
 ('F9 v1.0  B0003', 0)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [63]:
%%sql select substr(Date,4,2), Booster_version, Launch_Site, Mission_Outcome
from SPACEXTBL
where Mission_Outcome like '%failure%' AND substr(Date,0,5) = '2015'

 * sqlite:///my_data1.db
Done.

[('5-', 'F9 v1.1 B1018', 'CCAFS LC-40', 'Failure (in flight)')]

In [73]:
%sql select  count("Mission_Outcome") as MISSION_OUTOME_COUNT,Launch_Site  from SPACEXTBL group by "Launch_Site"

 * sqlite:///my_data1.db
Done.

[(26, 'CCAFS LC-40'),
 (34, 'CCAFS SLC-40'),
 (25, 'KSC LC-39A'),
 (16, 'VAFB SLC-4E')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [65]:
%%sql select count (Mission_Outcome) as counts, Mission_outcome from SPACEXTBL
where Mission_Outcome like '%Success%' AND Date BETWEEN '06-04-2010' AND '3-20-2017'
ORDER BY counts DESC

 * sqlite:///my_data1.db
Done.

[(100, 'Success')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>